.header {
    padding: 40px 0 0 0;
    color: #379cf6;
    margin-left: 50px;
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

.header span {
    color: #379cf6;
    font-weight: 600;
}

.ai-image-generator {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}

.Defaultimage img {
    width: 500px !important;
}

.img-loading {
    display: flex;
    flex-direction: column;
}

.image {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.image img {
    width: 300px;
    padding: 10px;
}

.download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
    
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.downloadBtn button{
    background: #379cf6;
    border-radius: 10px;
    width: 100px;
    align-items: center;
    margin-left: 100px;
   
    
}
/* .downloadBtn btn {
    align-items: center;
    align-content: center;
    padding-left: 50px;
} */
.search-box {
    display: flex;
    width: 1000px;
    height: 90px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1F3540;
}

.search-input {
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
}

.search-input::placeholder {
    color: #e2bcd1;
}

.generate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 50px;
    background: #379cf6;
    cursor: pointer;
}

.loading-bar {
    width: 0px;
    height: 8px;
    background: #379cf6;
}

.loading-text {
    font-size: 10px;
}

.loading-bar-full {
    width: 512px;
    height: 8px;
    background: #DE1B89;
    transition: 15s;
}

.display-none {
    display: none;
}



/* .header {
    padding: 40px 0 0 0;
  }
  
  .ai-image-generator {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
  }
  
  .header {
    color: #379cf6;
    margin-left: 50px;
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
  }
  
  .header span {
    color: #379cf6;
    font-weight: 600;
  }
  
  .img-loading {
    display: flex;
    flex-direction: column;
  }
  
  .img-loading img {
    width: 256px; /* Adjust width for 3 images side-by-side */
    /* Consider adding margin or padding for spacing between images */
  /* }
  
  .search-box {
    display: flex;
    width: 1000px;
    height: 90px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1F3540;
  }
  
  .search-input {
    width: 600px;
  } */