.service__top-content{
    text-align: center;
}

.services__item{
    background: var(--card-bg);
   
}

@media only screen and (max-width: 992px){
    .service__top-content h2{
        font-size: 1.5rem;
    }
    .service__item-wrapper{
        flex-wrap: wrap;
    }
    .services__item{
        width: 31%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:768px){
    .services__item{
        width: 47.7%;
    }
    .service__title{
        font-size: 1.2rem;
    }
}