/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-name);
    background-color: var(--body-bg);
    color: var(--heading-color);
  }
  
  .login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--btn-primary-bg);
    color: var(--heading-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #2778e4; /* Lighten the primary color on hover */
  }
  
  p {
    margin-top: 20px;
  }
  
  a {
    color: var(--link-color);
  }
  
  a:hover {
    color: var(--link-active);
  }
  